@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --white: #beb3b3;
  --text-clr: #000024;
  --primary: #3e2093;
  --secondary: #09090a;
  --input-bg: white;
  --btn-hvr: #430ce9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("https://source.unsplash.com/1600x900/?donate,food waste,charity");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
  font-size: 14px;
  color: var(--text-clr);
}

.wrapper {
  width: 100%;
  padding: 0 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.r_form_wrap {
  width: 500px;
  max-width: 100%;
}

.r_form_wrap .title {
  padding: 25px;
  background: var(--white);
  border-radius: 3px;
  margin-bottom: 20px;
}

.r_form_wrap .title p {
  font-size: 25px;
  text-align: center;
}

.r_form {
  padding: 40px;
  border-radius: 3px;
  background: var(--white);
}

.r_form .input_wrap {
  width: 100%;
  margin-bottom: 25px;
}

.r_form .input_wrap label {
  display: block;
  margin-bottom: 5px;
}

.r_form .input_wrap .input_item {
  position: relative;
  width: 100%;
}

.r_form .input_wrap .input_item .input {
  width: 100%;
  border-radius: 3px;
  height: 40px;
  border: 2px solid var(--input-bg);
  background: var(--input-bg);
  padding: 10px 20px;
  padding-left: 50px;
  transition: 0.5s ease;
  color: var(--secondary);
}
.r_form .input_wrap .input_item .input-message {
  width: 100%;
  border-radius: 3px;
  height: 150px;
  border: 2px solid var(--input-bg);
  background: var(--input-bg);
  padding: 10px 20px;
  padding-left: 50px;
  transition: 0.5s ease;
  color: var(--secondary);
}
.r_form .input_wrap .input_item .input:focus {
  border-color: var(--primary);
}
.r_form .input_wrap .input_item .input-message:focus {
  border-color: var(--primary);
}

.r_form .input_wrap .input_item .icon {
  position: absolute;
  top: 12px;
  left: 20px;
  color: var(--secondary);
  font-size: 16px;
}

button {
  width: 100%;
  border: 0;
  background: rgb(62, 62, 151);
  padding: 10px;
  border-radius: 3px;
  height: 40px;
  color: black;
  cursor: pointer;
  transition: 0.5s ease;
  font-size: 35px bold;
  border-radius: 5px;
}

button:hover {
  background: green;
}
